# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jshevach\Desktop\Bootcamp\Working Folder JavaS1\20210218\02-command-line-gram\starter-code\CommandLineGram\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
