# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\jbshe\Desktop\Bootcamp\smu-cog-fsf-ft-02-2021-e-lol\Unit-1\Module-3\Day-2\Homework\1-3-2-katas\starter-code\U1M3L2Katas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
