# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jbshe\Desktop\Bootcamp\Joshua_Shevach_JavaS1\20210308\U1-M2-Challenge-Shevach-Joshua\ConverterInterface\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
