# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jshevach\Desktop\Bootcamp\Joshua_Shevach_JavaS1\20210226\katas\starter-code\U1M2L5Katas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
