# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jshevach\Desktop\Bootcamp\Working Folder JavaS1\U1-M1-Challenge-Shevach-Joshua\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
