# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jshevach\Desktop\Bootcamp\Working Folder JavaS1\20210219\05-Prime-Finder\starter-code\PrimeFinder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
