# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jshevach\Desktop\Bootcamp\Working Folder JavaS1\20210224\katas\starter-code\U1M1L5Katas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
