# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jshevach\Desktop\Bootcamp\Working Folder JavaS1\20210218\01-rectangular-paving-company\starter-code\RectPavingCompany\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
