# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\jshevach\Desktop\Bootcamp\Joshua_Shevach_JavaS1\20210220\katas\starter-code\U01-M01-L4-Katas-Starter\U1M1L4Katas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
